.stats {
  margin-top: 20rem;
  display: flex;
  align-items: center;
  justify-content: space-between;

  :nth-child(1) {
    font-size: var(--font-small);
    font-weight: var(--weight-bold);
  }

  :nth-child(2) {
    display: flex;

    & > *:not(:last-child) {
      margin-right: 1rem;
    }
  }
}
