.info {
  margin-bottom: var(--spacing-44);

  // display: flex;
  // justify-content: space-between;
  // font-weight: var(--weight-bold);

  h2 {
    flex: 0 0 45%;
    // line-height: 5.8rem;
    font-size: var(--font-xxlarge);
  }

  a {
    align-self: flex-end;
    color: var(--primary-60);
    font-weight: var(--weight-bold);
    text-transform: uppercase;
    border-bottom: 1px solid transparent;
    transition: all 0.2s;

    &:hover {
      border-bottom: 1px solid currentColor;
    }
  }
}
