.form {
  position: relative;
  height: var(--spacing-74);
  display: flex;
  align-items: center;

  input {
    position: absolute;
    width: 100%;
    padding: var(--spacing-20);
    padding-right: var(--spacing-44);
    font-family: inherit;
    font-size: inherit;
    outline: none;
    border: none;
    border-radius: var(--border-xlarge);
    // transition: all 0.2s;

    &:focus {
      box-shadow: 0 0 10px var(--white);
    }
  }

  button {
    position: absolute;
    right: var(--spacing-20);
  }

  // input,
  // button {
  //   cursor: var(--cursor-black), auto;
  // }

  span {
    position: absolute;
    top: -var(--spacing-20);
    left: 0;
    right: 0;
    font-size: var(--font-xsmall);
    text-align: center;
  }
}
