.form {
  position: relative;
  height: 7rem;
  display: flex;
  align-items: center;

  input {
    position: absolute;
    width: 100%;
    padding: 2.2rem;
    padding-right: 5rem;
    font-family: inherit;
    font-size: inherit;
    outline: none;
    border: none;
    border-radius: 59px;
    // transition: all 0.2s;

    &:focus {
      box-shadow: 0 0 10px var(--white);
    }
  }

  button {
    position: absolute;
    right: 20px;
  }

  // input,
  // button {
  //   cursor: var(--cursor-black), auto;
  // }

  span {
    position: absolute;
    top: -20px;
    left: 0;
    right: 0;
    font-size: 1rem;
    text-align: center;
  }
}
