.random {
  margin: var(--margin-auto);
  // margin-top: 18rem;
  width: 50rem;
  height: 25rem;
  border-radius: var(--border-medium);
  justify-content: center;
  align-items: center;
  gap: 3rem;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.25);
  z-index: 0;

  p {
    font-size: var(--font-large);
  }
}
