.nav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  max-width: 130rem;
  width: var(--content-width);
  margin: var(--margin-auto);
  background-color: var(--white);
  border-bottom-left-radius: var(--border-large);
  border-bottom-right-radius: var(--border-large);
  box-shadow: 0 0 20px var(--black-20);
  z-index: 99;

  ul {
    // display: flex;
    // justify-content: space-between;
    list-style: none;
    gap: var(--spacing-20);

    // & > *:not(:first-child) {
    //   margin-left: 2rem;
    // }
  }

  li {
    position: relative;
    text-transform: capitalize;

    &::after,
    &::before {
      position: absolute;
      left: 0;
      right: 0;
      height: 4px;
      display: inline-block;
      background-color: var(--primary-60);
      transition: all 0.2s;
    }

    &::after {
      content: "";
      bottom: -4px;
      width: 0;
      margin: var(--margin-auto);
      border-radius: 0 0 4px 4px;
    }

    &:hover:after {
      bottom: -7px;
      width: 100%;
    }

    a {
      color: currentColor;
      // cursor: var(--cursor-black), auto;
    }
  }

  .selected {
    &::before {
      content: "";
      top: -7px;
      width: 100%;
      border-radius: 4px 4px 0 0;
    }
  }
}
