.nav,
.nav ul {
  display: flex;
  justify-content: space-between;
}

.nav {
  width: var(--content-width);
  align-items: center;
  margin: var(--margin-auto);
  padding: 3rem 10rem;
  border-bottom-left-radius: var(--border-edge);
  border-bottom-right-radius: var(--border-edge);
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.5);

  ul {
    list-style-type: none;

    & > * {
      margin-left: 2rem;
    }
  }

  li {
    position: relative;
    transition: all 0.2s;

    &::after {
      content: '';
      position: absolute;
      bottom: -3px;
      left: 0;
      right: 0;
      width: 0;
      height: 4px;
      margin: var(--margin-auto);
      background-color: rgba(41, 21, 7, 0.6);
      border-radius: 0 0 4px 4px;
      transition: all 0.2s;
    }

    &:hover:after {
      bottom: -7px;
      width: 100%;
    }
  }

  a {
    color: currentColor;
    cursor: var(--cursor-black), auto;
  }
}

.selected {
  border-top: 4px solid rgba(41, 21, 7, 0.6);
  border-radius: 4px 4px 0 0;
  padding-top: 2px;
}
