.nav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  max-width: 130rem;
  width: var(--content-width);
  margin: var(--margin-auto);
  background-color: var(--white);
  border-bottom-left-radius: var(--border-edge);
  border-bottom-right-radius: var(--border-edge);
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.5);
  z-index: 99;

  ul {
    display: flex;
    justify-content: space-between;
    list-style-type: none;

    & > *:not(:first-child) {
      margin-left: 2rem;
    }
  }
}
