.discover {
  margin-bottom: var(--spacing-98);
  padding: 0 var(--spacing-98);
  padding-top: var(--spacing-30);
  padding-bottom: var(--spacing-98);
  // color: var(--brown);
  background-color: var(--bgc-light);
  border-bottom-left-radius: var(--border-large);
  border-bottom-right-radius: var(--border-large);

  h3 {
    position: relative;
    margin-bottom: var(--spacing-30);
    padding-bottom: 1rem;

    &::after {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      width: 60px;
      height: 4px;
      background-color: var(--acc-dark);
      border-radius: var(--border-xxlarge);
    }
  }
}
