.footer {
  margin-top: var(--spacing-98);
  color: var(--white);
  background-color: var(--black);
  border-top-left-radius: var(--border-large);
  border-top-right-radius: var(--border-large);
  // box-shadow: 0 -5px 20px rgba(0, 0, 0, 0.5);

  p a {
    color: currentColor;
    border-bottom: 2px solid transparent;
    transition: all 0.2s;

    &:hover {
      border-bottom: 2px solid currentColor;
    }
  }

  // & a {
  //   cursor: var(--cursor-white), auto;
  // }
}
