.discover {
  width: var(--content-width);
  background-color: #e3e1dc;
  padding: 0 10rem;
  padding-top: 5rem;
  padding-bottom: 10rem;
  margin: var(--margin-auto);
  border-bottom-left-radius: var(--border-edge);
  border-bottom-right-radius: var(--border-edge);
  margin-bottom: 10rem;
  height: 55rem;
}
