.info {
  // display: flex;
  // flex-direction: column;
  justify-content: center;
  margin: var(--spacing-44);
  margin-left: 0;

  h2 {
    position: relative;
    padding-top: 1rem;
    font-size: var(--font-xxlarge);
    // font-weight: 700;
    // line-height: 58px;

    &::after {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 60px;
      height: 4px;
      background-color: var(--acc-dark);
      border-radius: var(--border-xxlarge);
    }
  }

  p {
    margin: var(--spacing-56) 0;
    // line-height: 2.2rem;s
  }

  a {
    color: var(--primary-60);
    font-weight: var(--weight-bold);
    text-transform: uppercase;
    // border-bottom: 1px solid transparent;
    // transition: all 0.2s;

    // &:hover {
    //   border-bottom: 1px solid currentColor;
    // }
  }
}
