.header {
  padding: 0 10rem;
  padding-top: 11rem;
  padding-bottom: 15rem;
  color: var(--white);
  background-color: var(--black);
  background-image: var(--hero);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: right;
  border-top-left-radius: var(--border-edge);
  border-top-right-radius: var(--border-edge);

  .wrapper {
    width: 35%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  h2 {
    font-size: var(--font-xlarge);
    font-weight: var(--weight-light);
    margin-bottom: 5rem;
  }
}
