.slider {
  position: relative;
  overflow: hidden;

  .track {
    display: flex;
    backface-visibility: hidden;
    animation: scroll 35s linear infinite;
  }

  figure {
    margin-left: var(--spacing-56);
    flex: 0 0 20%;
    text-align: center;

    a {
      gap: var(--spacing-20);
    }
  }

  img {
    object-fit: cover;
    border-radius: var(--border-small);
  }

  figcaption {
    color: var(--primary);
  }
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(calc(-22rem * 5));
  }
}
