@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600;700&display=swap');

:root {
  --white: #fff;
  --black: #000;
  --brown: #29150799;
  --brown-dark: #291507;

  --orange: #4d270c;
  --yellow: #e3e1dc;

  --font-small: 1.6rem;
  --font-medium: 1.8rem;
  --font-large: 2rem;
  --font-xlarge: 2.4rem;

  --margin-auto: 0 auto;

  --border-rounded: 50%;
  --border-edge: 42px;

  --weight-light: 500;
  --weight-normal: 600;
  --weight-bold: 700;

  --cursor-white: url('/images/cursor/PawPrint-white.svg');
  --cursor-black: url('/images/cursor/PawPrint-black.svg');
  --hero: url('/images/HeroImagelg.png');

  --content-width: 90%;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

body {
  max-width: 144rem;
  min-height: 100vh;
  margin: var(--margin-auto);
  font-family: 'Montserrat', sans-serif;
  font-size: var(--font-medium);
  font-weight: var(--weight-light);
  // color: var(--black);
  color: var(--brown-dark);
  scroll-behavior: smooth;
}

#__next {
  width: var(--content-width);
  margin: var(--margin-auto);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  &:nth-child(2) {
    margin-top: 18rem;
  }
}
