.form {
  position: relative;
  height: 7rem;
  display: flex;
  align-items: center;

  input {
    position: absolute;
    width: 100%;
    padding: 2.2rem;
    padding-right: 5rem;
    border-radius: 59px;
    font-family: inherit;
    font-size: inherit;
    outline: none;
    border: none;
    transition: all 0.2s;

    &:focus {
      box-shadow: 0 0 10px var(--white);
    }
  }

  button {
    position: absolute;
    right: 20px;
  }

  input,
  button {
    cursor: var(--cursor-black), auto;
  }
}
